

<h1>Artists</h1>

<div>
  <!-- anchors, scroll to section-->
  <a href="">Trending</a>
  <a href="">0-9</a>
  <a href="">A</a>
  <a href="">B</a>
  <a href="">C</a>
  <a href="">D</a>
  <a href="">E</a>
  <a href="">F</a>
  <a href="">G</a>
  <a href="">H</a>
  <a href="">I</a>
  <a href="">J</a>
  <a href="">K</a>
  <a href="">L</a>
  <a href="">M</a>
  <a href="">N</a>
  <a href="">O</a>
  <a href="">P</a>
  <a href="">Q</a>
  <a href="">R</a>
  <a href="">S</a>
  <a href="">T</a>
  <a href="">U</a>
  <a href="">V</a>
  <a href="">W</a>
  <a href="">X</a>
  <a href="">Y</a>
  <a href="">Z</a>  
</div>

<h2>Artists</h2>
<hr/>
<section id="artists" class="cards">
</section>
