

<div id="searchbox">
  <div id="searchbox-header">
    <form action="/search">
      <div id="searchbox-input">
        <i class="fa fa-search"></i>
        <input id="search-query" type="text" name="search" autocomplete="off"/>
      </div>
    </form>
  </div>
  <div id="searchbox-results">
  </div>
</div>

<script type="text/babel">

  var Recording = React.createClass({
    render: function() {
      return (
        <span className="recording">
        </span>
      );
    }
  });

  var Song = React.createClass({
    render: function() {
      return (
        <span className="song">
        </span>
      );
    }
  });

  var Artist = React.createClass({
    render: function() {
      return (
        <span className="artist">
        </span>
      );
    }
  });

  var Album = React.createClass({
    render: function() {
      return (
        <span className="album">
        </span>
      );
    }
  });





  var RecordingResults = React.createClass({
    render: function() {
      return (
        <div className="recording">
        </div>
      );
    }
  });
  React.render(
        <RecordingsResults/>,
        document.getElementById('searchbox-results')
</script>
