        <div id="sidebox">
          <ul>
            <li>
              <button id="search" class="fakebutton">
                <div><img src="/static/imgs/icons/search.png" class="navicon"/></div>
                Search
              </button>
            </li>
            <li>
              <button id="browse" class="fakebutton">
                <div><img src="/static/imgs/icons/compass.png" class="navicon"/></div>
                Browse
              </button>
            </li>
            <!--
            <li>
              <a href="">
                <div><img src="/static/imgs/icons/lists.png" class="navicon"/></div>
                Your Lists
              </a>
            </li>
            -->
          </ul>
          <div id="userbox">
            <!-- user account and settings -->
          </div>
        </div>
